<header class="header">
  <form class="search__form" id="search-form">
    <div class="wrapper">
      <input
        class="search__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button class="search__button" type="submit">Search</button>
    </div>
  </form>
</header>
<main>
  <div class="collection">
    <div class="gallery"></div>
    <button type="button" class="load__more is-hidden">Load more</button>
  </div>
  <a class="scroll__top">Top</a>
</main>
